# ---------------------------------------------------------------------------
# Trivadis AG, Infrastructure Managed Services
# Saegereistrasse 29, 8152 Glattbrugg, Switzerland
# ---------------------------------------------------------------------------
# Name.......: terraform.tfvars.example
# Author.....: Stefan Oehrli (oes) stefan.oehrli@trivadis.com
# Editor.....: Stefan Oehrli
# Date.......: 2020.10.12
# Revision...: 
# Purpose....: Example Terraform Variable file.
# Notes......: 
# Reference..: --
# License....: Apache License Version 2.0, January 2004 as shown
#              at http://www.apache.org/licenses/
# ---------------------------------------------------------------------------

# provider identity parameters ----------------------------------------------
fingerprint               = ""
private_key_path          = ""
region                    = "eu-zurich-1"
tenancy_ocid              = ""
user_ocid                 = ""

# general oci parameters ----------------------------------------------------
compartment_id            = ""
label_prefix              = "none"
resource_name             = ""
availability_domain       = 1
tags                      = {}

# Bastion Host Parameter ----------------------------------------------------
bastion_enabled           = false
bastion_dns_registration  = false
bastion_name              = "bastion"
bastion_image_id          = "OEL"
bastion_os_version        = "7.8"
bastion_shape             = "VM.Standard.E2.1"
bastion_boot_volume_size  = 50
bastion_state             = "RUNNING"
bastion_bootstrap         = ""
ssh_public_key            = ""
ssh_public_key_path       = ""
#bastion_subnet 

# Trivadis LAB specific parameter -------------------------------------------
tvd_participants          = 1
tvd_domain                = "trivadislabs.com"
# --- EOF -------------------------------------------------------------------
